#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  padding: 15px 30px;
}

#nav a {
  color: rgb(182, 37, 37);
  text-decoration: none;
  margin: 0 15px;
  font-size: 1.1rem;
}

#nav a:hover {
  color: #ff5733;
}
